@page "{handler?}/{id?}"

@model IndexModel
@{
    ViewData["Title"] = "Todo Page";
}


<div class="text-center">
    <h1 class="display-1"> Todos</h1>
    <form method="post">
        <div class="ToDos">
            <div class="container">
                <button class="btn btn-lg btn-primary createBtn" type="button" data-toggle="modal" data-target="#addModal">Create New</button>
                <div class="row">
                    @foreach (Modul.ToDo item in Model.ToDos.OrderBy(x => x.CreatedTime))
                    {
                        <div class="form-group">
                            <div class="col-7">
                                <a href="#">ToDo: @item.TaskDescription</a>
                            </div>
                            <div class="col-1">
                                @if (item.IsCompleted == true)
                                {
                                    <input value="@item.ID" name="IsChecked" class="form-check-input" type="checkbox" checked />
                                }
                                else
                                {
                                    <input value="@item.ID" name="IsChecked" class="form-check-input" type="checkbox" />
                                }

                            </div>
                            <div class="col-2">
                                <a asp-page-handler="/edit" asp-route-id="@item.ID" style="line-height: 2;" type="button" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-danger" asp-page-handler="delete" asp-route-id="@item.ID">Delete</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="bottom-btn-group">
                
                <button class="btn btn-lg btn-primary" asp-page-handler="IsChecked" type="submit">Save</button>
                <button class="btn btn-lg btn-primary" asp-page-handler="load" type="submit">Show finished</button>
            </div>
        </div>
    </form>
    



    <!--Modal add-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="Add">
                    <div class="modal-body">
                        <h1>Create a Todo</h1>
                        <div class="editModal col-6">
                            <div class="form-group">
                                <label>Priority:</label>
                                <div class="form-check">
                                    <select asp-for="Todo.PriorityId" asp-items="@Model.PrioritiesId">
                                        <option>Select Prio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="editModal col-6">
                            <div class="form-group">
                                <label>Description: </label>
                                <input type="text" asp-for="TextDescrip" class="form-control" id="TextDescrip" placeholder="Write description" />
                                <span asp-validation-for="TextDescrip"></span>
                            </div>
                            <div>
                                <select asp-for="Todo.ContactId" asp-items="@Model.ContactsId">
                                    <option>Select User</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
